<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content"></div>
    <h1> {{info1}}</h1>
    <h2>You might have added an incorrect page</h2>
    <hr>
    <p> Please contact the administrator if the problem persists </p>
    </div>
    {{>header}}

    {{>footer}}
</body>

</html>