<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>The Data are being fetched from mapbox.com and weatherstack.net </p>
        <img src="/img/Darksiders2.webp">
        <p>This website was create by {{Name}}</p>
    </div>


    {{>footer}}
</body>

</html>